<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Quienes Somos
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openCart()">
        <ion-badge *ngIf="cart.length > 0">{{ cart.length }}</ion-badge>
        <ion-icon name="list" slot="icon-only"></ion-icon>

      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>

      <ion-card-title>Tu supermercado online</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-img src="https://static.lasprovincias.es/www/multimedia/201810/02/media/cortadas/compra-kcUC-U601120670942QRF-624x385@Las%20Provincias.jpg"></ion-img>
      <p>Nos dedicamos a la venta de productos/comestibles domésticos y te traemos esta app para ponerte a tu disposicion
      servicios online para que tu compra sea mas cómoda</p>


    </ion-card-content>
  </ion-card>

    <ion-card class="welcome-card">
        <ion-card-header>

            <ion-card-title>Dónde estamos</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3520.407866412093!2d-15.453664984929935!3d28.073099182641897!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xc40942fde2813a9%3A0x8b61a40c00405a46!2sUniversidad+de+Las+Palmas+de+Gran+Canaria%3A+Escuela+de+Ingenier%C3%ADa+Inform%C3%A1tica!5e0!3m2!1ses!2ses!4v1554413108799!5m2!1ses!2ses"  frameborder="0" style="border:0" allowfullscreen></iframe>
        </ion-card-content>
    </ion-card>

  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Recursos</ion-label>
    </ion-list-header>
    <ion-item href="/register">
      <ion-icon slot="start" color="medium" name="paper-plane"></ion-icon>
      <ion-label>Contactanos</ion-label>
    </ion-item>
    <ion-item href="/info">
      <ion-icon slot="start" color="medium" name="finger-print"></ion-icon>
      <ion-label>Quienes Somos</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
